.apartments {
  padding-bottom: 60px;

  &__text {
    text-align: center;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__filters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin-bottom: 40px;
  }

  &__filter {
    padding: 15px 55px;
    transition: 300ms;

    &:hover {
      background-color: #f6f6f6;
    }

    &_all {
      background-color: $accentColor;
      color: #fff;

      &:hover {
        background-color: darken($accentColor, 20%);
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
  }

  &__item {
  }

  &__item-content {
    padding: 0 30px;

    border: 2px solid #f6f6f6;
    border-top: none;
  }

  &__item-head {
    flex: 1 1 auto;
  }

  &__img {
    height: 300px;

    img {
      height: 100%;
      width: 100%;

      object-fit: cover;
    }
  }

  &__item-about {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &__item-title {
    font-size: 22px;
    line-height: 33px;
    font-weight: bold;
    padding-bottom: 10px;
    transition: color 300ms;

    &:hover {
      color: $accentColor;
      cursor: pointer;
    }
  }

  &__item-info {
    margin-bottom: 15px;
  }

  &__item-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__item-price {
    font-size: 33px;
    line-height: 54px;
  }

  &__item-link {
    background: #f6f6f6;
    border: 2px solid #f6f6f6;

    display: block;
    text-align: center;

    padding: 15px;
    transition: background-color 300ms, color 300ms;

    font-size: 18px;
    line-height: 27px;
    font-weight: bold;

    &:hover {
      background-color: $accentColor;
      color: #fff;
      font-weight: normal;
    }

    // Кнопка Показать Ещё
    &_more {
      grid-column: 1/-1;
      margin-top: 10px;
      display: flex;
      align-items: baseline;
      justify-content: center;

      padding: 15px;
      background-color: #fbfbfb;
      transition: background-color 300ms;

      &:hover {
        background-color: darken(#fbfbfb, 10%);
      }

      span {
        margin-right: 15px;
      }
    }
  }
}
